.searchButton{
    -fx-display: flex;
    -fx-width: 324px;
    -fx-cursor : hand;
    -fx-background-color: #191919;
    -fx-text-fill: linear-gradient(from 0% 10% to 100% 90%,#81c1d9,#aea2db,#65c0e0,#b8c1c0,#e9a5a5);
    -fx-border-color: linear-gradient(from 0% 10% to 100% 90%,#81c1d9,#aea2db,#65c0e0,#b8c1c0,#e9a5a5);
    -fx-border-radius: 500px;
    -fx-font-family: Inter;
    -fx-font-size: 20px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-line-height: normal;
    -fx-background-radius: 500px;
}

.searchButton:hover{
    -fx-display: flex;
    -fx-width: 324px;
    -fx-cursor : hand;
    -fx-background-color: linear-gradient(from 0% 10% to 100% 90%,#81c1d9,#aea2db,#65c0e0,#b8c1c0,#e9a5a5);
    -fx-text-fill: #191919;
    -fx-font-family: Inter;
    -fx-font-size: 20px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-line-height: normal;
    -fx-background-radius: 500px;
}

.searchButton:pressed{
    -fx-display: flex;
    -fx-width: 324px;
    -fx-cursor : hand;
    -fx-background-color: #e5e5e5;
    -fx-text-fill: #191919;
    -fx-font-family: Inter;
    -fx-font-size: 20px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-line-height: normal;
    -fx-background-radius: 500px;
}

.heading1{
    -fx-font-family: Inter;
    -fx-font-size: 55px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-line-height: normal;
}

.heading2{
    -fx-font-family: Inter;
    -fx-font-size: 25px;
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-line-height: normal;
}